# Build files
build/
Debug/
Release/
*.o
*.elf
*.bin
*.hex
*.map
*.su
*.d
*.list

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.cproject
.project
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib

*.bak
*.ioc.bak
.mxproject
.metadata/
.eclipse/
*.launch
.DS_Store
Thumbs.db